**/qdrant_storage/
# processed_dataset/
**/venv
**/.ipynb_checkpoints
**/qdrant_data
**/raw_dataset/
**/.DS_Store
__pycache__/
embeddings_data/*
qdrant_data/
!embeddings_data/pubmedbert.zip
!embeddings_data/neupubmedbert.zip
