#python==3.9.25
pdfminer.six==20221105
qdrant-client==1.7.0
sentence-transformers
transformers
torch
numpy
pandas
scikit-learn
matplotlib
tqdm

# pdfminer is not available in the normal conda channels, so it needs to be installed explicitly using pip.